@tailwind base;
@tailwind components;
@tailwind utilities;
.main
{
    background-color: rgba(0, 0, 0, 0.3);
}
*
{
    font-family: 'montserrat';
}



/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 2px solid #95C11E;
  color: #fff;
  border-radius: 40px;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #000;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #95C11E;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.page1 h1
{
    font-size: 9vw;
    font-weight: 900;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
.page1 h1::before
{
    content: 'EAT. DRINK. PLAY.';
    position: absolute;
    -webkit-text-stroke: 2px #95C11E;
    top: -2px;
    left: -2px;
    color: #000;
}
.hello h1
{
  font-weight: 900;
  font-size: 100px;
  font-family: Whyte;
  text-transform: uppercase;
  margin-right: 10px;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  color: #000;
  transition: all linear 0.5s;
  display: inline-block;
}
.hello h1:hover
{
  color: #95C11E;
}
.hello2 h1
{
  font-weight: 900;
  font-size: 35px;
  font-family: Whyte;
  text-transform: uppercase;
  margin-right: 10px;
  
  color: #fff;
  transition: all linear 0.5s;
  display: flex;
  flex-direction: column;
}
.hello2 h1:hover
{
  color: #000;
}
#menuBar
{
  background: rgb(168,235,7);
   background: linear-gradient(90deg, rgba(168,235,7,1) 48%, rgba(138,193,12,1) 64%, rgba(144,192,31,1) 100%, rgba(2,0,36,1) 100%);
}
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.linear-bg
{
  background: linear-gradient(to bottom left,#ACDF23,#17A138);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.marquee-img
{
 transform: rotate(-15deg);
 padding-top: 180px;
}
.insta
{
  transform: rotate(-15deg);
}
.move-up h1
{
  font-size: 5vw;
  position: relative;
  flex-wrap: nowrap;
  font-family: Whyte;
  font-weight: 900;
  color: #000;
}
.move-up h1::before
{
  content: 'WHAT ARE YOU WAITING FOR?';
  position: absolute;
  -webkit-text-stroke: 2px #fff;
}
.bg-foot
{
  background: linear-gradient(to bottom left,#11A03A,#A6D722);
}